.button-icon {
	padding: 10px;
	border-radius: 4px;
	border: 2px solid var(--purple);
	background: var(--white);
	text-decoration: none;
	display: inline-block; /*para que los botones no se crucen con el header ni otro elemento*/
}
.button-icon img {
	vertical-align: middle; /* para que la img se quede en el medio */
}