.testimonios {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(39.7657px);
	border-radius: 24px;
	padding-inline-start: 16px;
	padding-inline-end: 16px;
	padding-block-start: 40px;
	padding-block-end: 24px;
	text-align: center;
}
.p-1 {
	font: var(--headline5);
	text-align: left;
}
.p-2 {
	font: var(--body2);
	text-align: left;
}